body {
  font-family: "Roboto Condensed", sans-serif;
}

table {
  border: black 3px solid;
}

td {
  border: black 2px solid;
  padding: 12px 15px;
}

th {
  border: black 3px solid;
  background-color: cornsilk;
}

tr {
  padding: 12px 15px;
}
